<div class="bg-dark border-right p-3 d-flex flex-column position-fixed" id="sidebar">
  <img class="logoHarryPotter" src="../../../assets/images/harry-potter-logo.png" alt="Logo Harry Potter" >
  <button (click)="filtrarArr('/staff')" class="btn btn-primary staff my-1">Staff🧙</button>
  <button (click)="filtrarArr('/students')" class="btn btn-primary students my-1">Students👨‍🎓</button>
  <button (click)="filtrarArr('/house/gryffindor')" class="btn btn-primary gryffindor my-1">Gryffindor🦁</button>
  <button (click)="filtrarArr('/house/slytherin')" class="btn btn-primary students slytherin my-1">Slytherin🐍</button>
  <button (click)="filtrarArr('/house/hufflepuff')" class="btn btn-primary students hufflepuff my-1">Hufflepuff🐼</button>
  <button (click)="filtrarArr('/house/ravenclaw')" class="btn btn-primary students ravenclaw my-1">Ravenclaw🦅</button>
</div>
